.logoContainer {
  max-width: 20vw;
  max-height: 20vw;
  padding: 4%;
  background: white;
  border-radius: 50%;
}

.input {
  font-size: inherit;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--detail);
  background: var(--background);
  color: var(--detail);
  margin: 1rem 0;
  min-width: 50vmin;
}

.button {
  composes: input;
  background: var(--detail);
  border: 0;
  color: var(--background);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
}

.altButton {
  composes: button;
  background: var(--accent2);
  color: var(--detail);
  margin-top: 0;
  margin-bottom: 2rem;
}

.link {
  color: var(--detail);
  text-decoration: none;
  font-weight: 100;
}

.group * {
  margin: 0.5 0;
  display: flex;
  flex-flow: column;
}
